/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
}

/* grid system -- mobile first! */
.row {
	display: flex;
	justify-content: space-even;
	flex-flow: row wrap;
}

[class*="col-"] {
	margin: 10px;
	flex: 0 0 calc(100% - 20px);
}

.col-1 {
	background-color: rgba(225, 0, 0, 0.1)
}

.col-2 {
	background-color: rgba(0, 255, 0, 0.1);
	margin-top: 10px;
}

.col-3 {
	background-color: rgba(0, 0, 255, 0.1);
	margin-top: 10px;
}

.col-4 {
	background-color: rgba(0, 255, 255, 0.1);
	margin-top: 10px;
	flex: 0 0 calc(100% - 20px);
}


/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
	.col-1 {
		flex: 0 0 calc(50% - 20px);
		margin-top: 0;
	}

	.col-2 {
		flex: 0 0 calc(50% - 20px);
	}

	.col-3 {
		flex: 0 0 calc(50% - 20px);
	}
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	.col-1 {
		flex: 0 0 calc(25% - 20px);

	}

	.col-3:nth-of-type(1) {
		flex: 0 0 calc(66.666% - 20px);
	}

	.col-3:nth-of-type(2) {
		flex: 0 0 calc(33.333% - 20px);
	}
}